<div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">
  <h3>Datos comunes</h3>
  <form [formGroup]="form" class="p-2">

    <div class="field">
      <label for="fecha">Fecha</label>
      <p-calendar inputId="fecha" formControlName="fecha" class="text-base text-color surface-overlay p-2 surface-border border-round appearance-none outline-none focus:border-primary w-full"></p-calendar>
    </div>

    <div class="field grid">
      <label for="sistemaCoordenadas">Sistema de coordenadas</label>
      <p-dropdown
        inputId="sistemaCoordenadas"
        [options]="sistemasCoordenadas"
        formControlName="sistemaCoordenadas"
        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="latitud" class="w-2 mr-1">Latitud</label>
      <input pInputText id="latitud" formControlName="latitud" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-4"/>
    </div>

    <div class="field">
      <label for="longitud" class="w-2 mr-1">Longitud</label>
      <input pInputText id="longitud" formControlName="longitud" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-4"/>
    </div>

    <div class="field">
      <label for="municipio">Municipio</label>
      <p-dropdown
        inputId="municipio"
        [options]="municipios"
        formControlName="municipio"
        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      ></p-dropdown>
    </div>

    <div class="field">
      <label for="lugar">Lugar</label>
      <input pInputText id="lugar" formControlName="lugar" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
    </div>

    <div class="field">
      <label for="cantidad">Cantidad</label>
      <input pInputText id="cantidad" formControlName="cantidad" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
    </div>

    <div class="field">
      <label for="tipoContacto">Tipo de contacto</label>
      <p-dropdown
        inputId="tipoContacto"
        [options]="tiposContacto"
        formControlName="tipoContacto"
        class="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      ></p-dropdown>
    </div>

    <div class="field grid">
      <label for="descripcion">Descripción</label>
      <textarea
        pInputTextarea
        id="descripcion"
        formControlName="descripcion"
      ></textarea>
    </div>

    <div class="p-field-checkbox">
      <p-checkbox
        inputId="reportePrivado"
        formControlName="reportePrivado"
        binary="true"
      ></p-checkbox>
      <label for="reportePrivado">Reporte privado</label>
    </div>

    <button pButton type="submit" label="Enviar"></button>
  </form>
</div>
