/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

@font-face {
    font-family: 'Athiti';
    src: url('assets/fonts/Athiti/Athiti-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Athiti', sans-serif;
}